/* -----------------------------------------------------
RESET CSS BY QWERTY https://framagit.org/qwertygc/Reset.css

	Based on http://daisy.tetue.net/
	1. Reset
	2. Fonts
	3. Links
	4. Typo
		4.1 general
		4.2 title
		4.3 citations
		4.4 tables
		4.5 code
		4.6 liste
	5. Media
	6. Forms
	7. Composition
	8. Responsive
	9. Print
----------------------------------------------------- */

/* ----------------------------------------------------- 
	1 - RESET
----------------------------------------------------- */

* {
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
    text-rendering : optimizeLegibility;
}
*:before,
*:after {
  box-sizing: border-box;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block;
}

audio,canvas,video {
	display:inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
svg:not(:root) {
  overflow: hidden;
}
img {
	max-width: 100%;
	height: auto;
	border:0;
	vertical-align: middle;
}
a:link img,a:visited img,img {
	border-style:none;
}
summary {
	margin:0 0 .75em;
}

html {
	font-size:100%;
}
audio,canvas,details,figure,video,address,blockquote,dl,fieldset,form,hr,menu,ol,p,pre,q,table,ul {
	margin:0 0 1.25em;
}

dd {
	margin:1px 0 1.25em;
}

b,strong,dt,th {
	font-weight:700;
}

b, strong {
  font-weight: bold;
}
sub,sup,code {
	line-height:0;
}

ins,u {
	text-decoration:underline;
}
textarea,caption,th,td {
	text-align:left;
	vertical-align:top;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

:lang(en) > q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

:lang(fr) > q {
  quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D" "\2018" "\2019";
}

:lang(es) > q {
  quotes: "\00AB" "\00BB" "\201C" "\201D";
}

:lang(it) > q {
  quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D";
}

:lang(de) > q {
  quotes: "\00BB" "\00AB" "\203A" "\2039";
}

:lang(no) > q {
  quotes: "\00AB\A0" "\A0\00BB" "\2039" "\203A";
}

q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
sup,sub {
vertical-align:0;
	position:relative;
}
del,s,strike {
	text-decoration:line-through;
}
h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child {
	margin-top:0;
}
p {
	line-height: 1.7em;
}

p:last-child,ul:last-child,ol:last-child,dl:last-child,blockquote:last-child,pre:last-child,table:last-child {
	margin-bottom:0;
}

li p,li ul {
	margin-bottom:0;
	margin-top:0;
}

textarea,table,td,th,code,pre,samp,div,p {
	word-wrap:break-word;
	hyphens:auto;
}

code,pre,samp {
	white-space:pre-wrap;
	word-wrap:break-word;
}

img,table,td,blockquote,code,pre,textarea,input {
	height:auto;
	max-width:100%;
}
/* ----------------------------------------------------- 
	2 - FONTS 
----------------------------------------------------- */
/* @font-face { */
    /* font-family: "Font"; */
    /* font-style: normal; */
    /* src: local("Blabla"), url("font/blabla.otf") format("opentype"); */
/* } */

/* ----------------------------------------------------- 
	3 - LINKS 
----------------------------------------------------- */

a {
	color:#333;
}
a:focus {
	outline:1px dotted;
}

/* ----------------------------------------------------- 
	4 - TYPO
----------------------------------------------------- */

/* ----------------------------------------------------- 
 4.1 - General
 ----------------------------------------------------- */

body {
	background:transparent;
	color: #424242;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu, Arial, "Open Sans", "Noto Sans", "Fira Sans", "Droid Sans", Cantarell,"Helvetica Neue",sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Emoji Regular";
	font-size:1em;
	line-height:1.5;
	margin:auto;
	box-sizing: content-box;
	text-rendering:optimizelegibility;
	scroll-behavior: smooth;
}
hr {
	box-sizing: content-box;
	height: 0;
	margin: 1.5em 0;
	border: solid;
	border-width: 1px 0 0;
}
big {
	font-size:1.25em;
}

small,sub,sup {
	font-size:.875em;
}
sub {
	vertical-align:bottom;
	top:.5ex;
}

sup {
	vertical-align:top;
	bottom:1ex;
}
mark, :target {
	background:#fff8ab;
	color:#666;
}
ins{
	color:green;
	background:#dfd;
}
del{
	color:red;
	background:#fdd;
}
/* ----------------------------------------------------- 
 4.2 - title
 ----------------------------------------------------- */

h1 {
	display:block;
	font-size:1.8571em;
	line-height:1.6154;
	margin:1.6154em 0 .8077em;
}

h2 {
	display:block;
	font-size:1.7143em;
	line-height:1.75;
	margin:1.75em 0 .875em;
}

h3 {
	display:block;
	font-size:1.5714em;
	line-height:1.909;
	margin:1.909em 0 .9545em;
}

h4 {
	display:block;
	font-size:1.4286em;
	line-height:1.05;
	margin:2.1em 0 1.05em;
}

h5 {
	display:block;
	font-size:1.2857em;
	line-height:1.1667;
	margin:2.3334em 0 1.1667em;
}

h6 {
	display:block;
	font-size:1.1429em;
	line-height:1.3125;
	margin:2.625em 0 1.3125em;
}

/* ----------------------------------------------------- 
 4.3 - citations
 ----------------------------------------------------- */

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:"";
}

blockquote em,blockquote i {
	font-style:normal;
}

blockquote {
	background:rgba(0,0,0,0.05);
	border-left:5px solid #ccc;
	margin-bottom:1em;
	padding:1em 1em 1em 5em;
}

blockquote cite,abbr {
	font-variant:small-caps;
}

blockquote,q,cite,i, em {
	font-style:italic;
}
abbr,acronym,dfn {
	border-bottom:1px dotted;
	cursor:help;
	font-style:normal;
	font-variant:small-caps;
}

abbr[title] {
	border-bottom:dotted 1px;
	cursor:help;
}
/* ----------------------------------------------------- 
 4.4 Tables
 ----------------------------------------------------- */

table {
	width: 100%;
	max-width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	vertical-align: middle;
	margin-bottom: 2rem;
}

td, th {
	vertical-align: middle;
	min-width: 2rem;
	cursor: default;
	border:1px solid;
	padding:.25em .5em;
}

caption {
	padding:0 0 1em;
}
/* ----------------------------------------------------- 
 4.5 - code
 ----------------------------------------------------- */

code,kbd,pre,samp,tt,var {
	font-family:menlo,monaco,consolas,"courier new",monospace;
	font-style:normal;
	line-height:normal;
	white-space: pre-line;
	white-space: pre-wrap;
	background-color:#333;
	color:#fff;
	box-sizing: border-box;
}
kbd {
	border:solid 1px;
	border-top-left-radius:.5em;
	border-top-right-radius:.5em;
	padding:0 .25em;
}
/* ----------------------------------------------------- 
 4.6 listes
 ----------------------------------------------------- */

ul,ol {
	padding:0 0 0 2em;
}

li {
	margin:0 0 0 2em;
}

li ul,li ol {
	margin:0;
}

/* ----------------------------------------------------- 
	5 - MEDIA
----------------------------------------------------- */

figure {
	background:#FFF;
	border:#eee solid .125em;
	border-radius:8px;
	display:block;
	margin:auto auto 1em auto;
	overflow:auto;
}

figure img, figure picture {
	display:block;
	margin:auto;
	max-width:96%;
}

figcaption {
	background:#eee;
	border-radius:0 0 7px 7px;
	font-size:.8em;
	padding:.125em .5em;
	text-align:center;
	color:#666;
}
details {
  background: #eee;
}

summary {
  cursor: pointer;
  font-weight: bold;
}
/* ----------------------------------------------------- 
	6 - FORMS
----------------------------------------------------- */

fieldset {
	border:1px solid;
	padding:1em;
}
label {
	display:block;
	vertical-align: middle;
	cursor: pointer;
}

legend {
	border: 0;
	white-space: normal;
	font-weight:700;
	padding:0 .25em;
}
	input {
	width:100%;
	margin:auto;
}
textarea {
	min-height: 5em;
	vertical-align: top;
	resize: vertical;
	width:100%;
}
input,textarea,select,button {
	font-family:inherit;
	font-size:1em;
	line-height:normal;
}
input[type=button],input[type=image],input[type=reset],input[type=submit],button[type=button],button[type=reset],button[type=submit] {
	cursor:pointer;
}
/* ----------------------------------------------------- 
	7 - COMPOSITION
----------------------------------------------------- */
nav {
	margin:auto;
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
}
/********* CORPORATE WEB DESIGN **********************/
/*header {
	text-align:center;
	background: transparent url("https://source.unsplash.com/random") no-repeat scroll center center / cover;
	background-size: cover;
	padding:5em;
	margin:0;
	width:100%;
	box-sizing: content-box;
	top:0;
	left:0;
}
nav {
	margin:0;
	background: #333;
	padding:1em;
}
nav a {
	color:#fff;
	text-decoration:none;
}
article {
	margin-top:1em;
	margin-bottom:1em;
	max-width:700px;
	margin:auto;
}
footer {
	background:#ccc;
	color:#333;
	padding:2em;
	text-align:center;
	margin-bottom:0;
}*
/******************************************************/
/**********Material Design*****************************/
/*body,
html {
    background: #eee;
}
a {
    color: #4496cc;
    text-decoration: none
}

a:hover {
    color: #337199;
    text-decoration: none
}
nav {
    background: #fab;
    color: #fff;
    min-height: 64px;
	padding:1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
nav > a {
    padding: 10px;
    color: #fff;
    text-decoration: none
}
nav > a:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
    text-decoration: none
}
main {
    padding: 2em;
    margin: 0.5em auto 1em auto;
    max-width: 900px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
    background: #fff;
}
*/
/******************************************************/
/********** minimalist ********************************/
/*body,
html {
    max-width:700px;
	margin:auto;
}
*/
/******************************************************/
/* ----------------------------------------------------- 
	8 - RESPONSIVE
----------------------------------------------------- */

/* ----------------------------------------------------- 
	9 - PRINT
----------------------------------------------------- */

@media print {
	 * {
		text-shadow: none !important;
		color: #000 !important;
		background: transparent !important;
		box-shadow: none !important;
	}
	body {
		width: auto!important;
		margin: auto!important;
		font-family: serif;
		font-size: 12pt;
		background-color: #fff!important;
		color: #000!important;
	}
	header, footer, nav {
	display: none;
	}
	p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol {
		color: #000!important;
		margin: auto!important;
	}
	p, blockquote {
		orphans: 3;
		widows: 3;
	}
	blockquote, ul, ol {
		page-break-inside: avoid;
	}
	body > h1, body > header > h1 {
		page-break-before: always;
	}
	h1, h2, h3, caption {
		page-break-after: avoid;
	}
	a {
		color: #000!important;
		text-decoration: underline!important;
	}
	a[href]:after {
		content: "(" attr(href) ")";
	}
}

